*{
    margin: 0;
    padding: 0;
}
.box{
    position: relative;
    width: 10px;
    height: 10px;
    padding: 15px;
    margin: 10px;
    background-color: #98c1d9;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: animation_load 1s ease-in-out infinite alternate-reverse;
}
.load{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #343a40;
    align-items: center;
    justify-content: center;
}


@keyframes animation_load {
    from{
        transform: translateY(0px);
        border-radius: 0%;
    }
    to{
        transform: translateY(20px);
        border-radius: 50%;
    }
}